/******************************
Base Element Styles
*******************************/
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  /* font-family: Helvetica; */
  /* Font-Family: 'Source Sans Pro', Sans-Serif; */

  Font-Family: 'Raleway', Sans-Serif;
  Font-Size: 15px;
  /* Font-Size: 50px; */
  /* Font-Size: 16px;   */
  /* background: #6a6a6a; */
  line-height: 1.6;
  background-color: #fdfaf3;

}

h1,
h2,
h3,
a {
  /* Font-Family: 'Playfair Display', Serif;
  Font-Size: 48px; */
  Font-Family: 'Vollkorn', Serif;

}

h2 {
  text-align: center;
}

.header {
  padding: 10px 0;
  margin: 0 auto;
  max-width: 1150px;
  background-color: #eed79c;
  border-radius: 5px;
  border: 1px solid red;
}


.logo {
  font-size: 28px;
  font-weight: 900;
  letter-spacing: .1rem;
  color: #1414B0;
  width: 190px;
  background-size: contain;
  white-space: nowrap;
  overflow: hidden;
  margin-left: 50px;
  padding-top: 0;
  border: 1px solid greenyellow;

}

.header {
  position: relative;
}

.chef {
  position: absolute;
  top: 1rem;
  left: 2px;
}

.nav {
  list-style: none;
  border: 1px solid yellow;

}

.nav li {
  margin: 12px 0 12px 18px;
}

.nav li a {
  text-decoration: none;
  color: #2727E2;
  font-size: .95rem;
  font-weight: 600;
  letter-spacing: .1rem;
  text-transform: uppercase;
  padding: 8px 16px 7px;
}

.nav li a:hover {
  background-color: #c28434;
  color: black;
  border-radius: 50% 20% / 10% 40%;
  transition: 300ms ease-in-out;
}

.nav li:last-child {
  margin-right: 5px;
}

/* .nav li:last-child a {
  background: #FB8804;
  color: #4683af;
  border-radius: 2px;
  transition: 200ms ease-in-out;
  padding: 8px 16px 7px;
}

.nav li:last-child a:hover {
  background:#FB8804 ;
  color: black;
} */
a.icon {
  text-decoration: none;
}

.fa-bars {
  color: #c28434;
  padding: .15rem;
  border: solid 1px #afa6a6;
  font-size: 25px;
}


.fa-bars:hover {
  background-color: #FB8804;
  color: black;
}

.imgResponse {
  width: 100%;
  max-width: 1100px;
  height: auto;
  margin: 0 auto;
  padding: .7em;
  border: solid 1px #d1d0d0;
  border-radius: 0 0 5px 5px;
}

.feat-img {
  width: 100%;
  max-width: 600px;
  height: auto;
  padding: .7em;
  border: solid 1px #d1d0d0;
  border-radius: 5px;

}

.row {
  width: 100%;
  max-width: 1100px;
  height: auto;
  margin: 0 auto;
}

.col {
  padding-right: .5rem;
  padding-left: .5rem;
  /* margin: 5px; */

  border: 1px solid rgb(224, 195, 31);
}

.navtop {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
}

/******************************
Flexbox Layout Mobile
*******************************/


.header,
.nav,
.imgResponse,
.row {
  display: flex;
  flex-direction: column;
}

.header {
  justify-content: space-between;
}

.nav {
  flex: 1;
  justify-content: space-around;
}



@media (max-width: 702px) {


  .nav {
    padding: 12px 0 12px 0;
    margin: 0 0 0 -10px;

  }

  .nav li a:hover {
    border-radius: 5px;
    transition: 400ms ease-in-out;
  }


  .nav.responsive {
    display: none;


  }

  /* position hamburger icon to right of viewport  */

  .icon {
    /* display: block; */
    position: absolute;
    top: 2rem;
    right: 2rem;
  }

  .imgResponse {
    display: none;
  }

  .hide-small {
    display: none;
  }

  .col-top {
    margin-top: 22rem;
  
  }
/* This responsiveA is control by javascript  */
  .col-top.responsiveA {
    margin-top: 8rem;
    

  }

}


@media all and (min-width: 703px) {


  .header,
  .nav {
    flex-direction: row;
  }


  .icon {
    display: none;
  }

  .row {

    flex-direction: row;
    /* flex-wrap: wrap; */

    /* flex-flow: row wrap; */
    /* justify-content: space-between; */

  }

  .col {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    

    border: 1px solid #222;
  }

  .primary {
    width: 33.33%;
  }

  .secondary {
    flex: 1 40%;
  }

  .tertiary {
    width: 33.33%;

  }

}

@media (max-width:992px) and (min-width:701px) {
  .hide-medium {
    display: none;
  }
}

@media all and (min-width: 1030px) {
  .nav {
    flex: none;

  }

  .primary {
    width: 25%;
  }

  .secondary {
    width: 50%;
  }

  .tertiary {
    width: 25%;

  }


}

/* This rule ajusts the width of the Header bar */

/* @media all and (min-width: 1030px) {
  .header,
  .response
     {
    width: 1100px; 
    min-width: 768px;
  }
 
    

} */